<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      background-image: url('background2.jpg');
    }

  </style>
</head>

<body>
    <a href="/">HOME </a>
    <a href="/getAuthor">Author List </a>
    <a href="/addAuthor">Add Author </a>
    <a href="/getBook">Book list </a>
    <a href="/deleteBook">Delete Book </a>
    <a href="/updateAuthor">Update Author </a>

  <form method="POST" action="/addBookPost">
    <div class="container">
      <h1>Add Book</h1>
      <p>Please fill in this form to add a new Book.</p>
      <hr>

      <label for="title"><b>Title</b></label>
      <input type="text" placeholder="Enter Title" name="title" id="title" required>

      <label for="authorId"><b>Author</b></label>
      <input type="text" placeholder="Enter Author ID" name="authorId" id="authorId" required>

      <label for="isbn"><b>ISBN</b></label>
      <input type="text" placeholder="Enter ISBN" name="isbn" id="isbn" required>

      <label for="dop"><b>Date of Publication</b></label>
      <input type="date" placeholder="" name="dop" id="dop" readonly>

      <label for="summary"><b>Summary</b></label>
      <input type="text" placeholder="Enter Summary" name="summary" id="summary" required>
      <hr>

      <button type="submit" class="registerbtn">Add Book</button>
    </div>
  </form>

</body>

</html>